<%= link_to "Inicio", root_path %>
<br><br>

<% @articles.each do |article| %>
	<h2><%= link_to article.title, article %></h2>
	<div>
		<%= article.body %> - <%= link_to "Eliminar", article, method: :delete,class:"red" %>
	</div>
<% end %>